[submodule "tools/terraform"]
	path = tools/terraform
	url = git@github.com:markstanden/terraform-tools.git
[submodule ".coding-standards"]
	path = .coding-standards
	url = https://github.com/markstanden/coding-standards
