@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using RunSuggestion.Shared.Constants
@using RunSuggestion.Web.Constants
@inject NavigationManager Navigation

<section class="px-3">
    <AuthorizeView>
        <Authorized>
            <p>
                Username: <em>@context.User.Identity?.Name</em>
            </p>
            <button class="nav-link btn btn-link"
                    @onclick="BeginLogOut">
                @ButtonText.Logout
            </button>
        </Authorized>
        <NotAuthorized>
            <a href="@Routes.Login">
                @ButtonText.Login
            </a>
        </NotAuthorized>
    </AuthorizeView>
</section>

@code{

    private void BeginLogOut()
    {
        Navigation.NavigateToLogout(Routes.Logout);
    }

}