@page "/"
@using RunSuggestion.Web.Constants
@inject ILogger<Home> Logger

<PageTitle>RunRecommendation</PageTitle>

<h1 class="page-title">
    Run Recommendation Application
</h1>

<AuthorizeView>
    <Authorized>

        <section class="button-section">
            <h2 class="button-section-title">
                Upload
            </h2>
            <button class="button"
                    type="button"
                    @onclick="PostUpload">
                @ButtonText.UploadHistory
            </button>
        </section>

        <section class="button-section">
            <h2 class="button-section-title">
                Recommendation
            </h2>
            <button class="button"
                    type="button"
                    @onclick="GetRecommendation">
                @ButtonText.GetRecommendation
            </button>
        </section>

        <section class="status-section">
            <p>
                @Status
            </p>
        </section>
    </Authorized>
</AuthorizeView>

@code {

    private string Status { get; set; } = string.Empty;

    private void PostUpload()
    {
        Logger.LogInformation(Logs.Upload.Start);
        Status = Constants.Status.Uploading;
    }

    private void GetRecommendation()
    {
        Logger.LogInformation(Logs.Recommendation.Start);
        Status = Constants.Status.GettingRecommendation;
    }

}
