@page "/"
@using RunSuggestion.Web.Constants

<PageTitle>RunRecommendation</PageTitle>

<h1>Run Recommendation Application</h1>

<section>
    <h2>Upload</h2>
    <button @onclick="PostUpload">
        @ButtonText.UploadHistory
    </button>
</section>

<section>
    <h2>Recommendation</h2>
    <button @onclick="GetRecommendation">
        @ButtonText.GetRecommendation
    </button>
</section>

<p>@Message</p>

@functions {

    private string Message { get; set; } = string.Empty;

    private void PostUpload()
    {
        Console.WriteLine(Logs.Upload.Start);
        Message = Status.Uploading;
    }

    private void GetRecommendation()
    {
        Console.WriteLine(Logs.Recommendation.Start);
        Message = Status.GettingRecommendation;
    }

}
